html, body {
  	-webkit-font-smoothing: antialiased;
    height: 100%;
}

/* Layout */

.content-wrapper {
    min-height: calc(100% - 70px);
    max-height: calc(100% - 70px);
}

.content {
    background: #1C2023;
    min-width:calc(100% - 250px);
    max-width:calc(100% - 250px);
    overflow-y: auto;
    color:#fff;
}

.featured-channels-list {
    a {
        text-decoration:none;

        &:hover {
            color:#666;
        }
    }

    .featured-channel-item {

      margin-bottom:10px;

      .avatar-holder {
          width:40px;
          img {
              border-radius:4px;
              display:block;
          }
      }

      .data-holder {
          width:calc(100% - 40px);
      }
  } 
}

/* Filter Bar */

.filter-bar {
    margin:0 0 0 0;
    padding:0 0 0 0;
    border-bottom:2px solid #272C2F;

    li {
        display:inline-block;
        font-size:18px;
        position:relative;
        top:2px;

        a {
            color:#fff;
            border-bottom:2px solid #272C2F;
            text-decoration:none;
            display:block;
            padding:15px;

            &.active {
                border-bottom:2px solid #EA1902;
            }
        }
    }

}

/* Scrollbar */

::-webkit-scrollbar {
  	width: 5px;
  	height: 5px;
}

::-webkit-scrollbar-button {
  	width: 0px;
  	height: 0px;
}

::-webkit-scrollbar-thumb {
  	background: #999999;
  	border-radius: 28px;
}

::-webkit-scrollbar-thumb:hover {
  	background: #666666;
}

::-webkit-scrollbar-thumb:active {
  	background: #666666;
}

::-webkit-scrollbar-track {
	background: transparent;
	border: 0px none #ffffff;
	border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  	background: #ffffff;
}

::-webkit-scrollbar-track:active {
  	background: #ffffff;
}

::-webkit-scrollbar-corner {
  	background: transparent;
}

/* Loader */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #EA1902;
  font-size: 11px;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #1C2023;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #1C2023;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}