.header {
    height:70px;
    background: #fff;

    .logo-wrapper {
        max-width:250px;
    }

    .logo {
        max-width:120px;
        margin-left:5px;
    }

    .search-wrapper {
    	position:relative;
    	i {
    		position:absolute;
    		top:11px;
    		left:27px;
    		color:#ccc;
    	}

    	.form-control {
    		padding-left:35px;
    	}
    }
    
}