.item-wrapper {

    img {
        width:100%;
        border-radius:6px;
        margin-bottom:7px;
    }

    a {
        color:#fff;
        text-decoration:none;
    }

    .title {
        font-size:14px;
        width:calc(100% - 70px);
    }

    .earnings {
        min-width:70px;
        font-size:14px;
    }

    .meta-info {
        margin-top:5px;
        color:#888;
        font-size:13px;
        a:hover {
            text-decoration: underline;
        }
    }

}

.load-more {
    border:1px solid #000;
    border-radius:4px;
    background:#272C2F;
    text-align:center;
}