.left-sidebar {
    height:100%;
    overflow-y: auto;
    color:#fff;
    background:#272C2F;
    border-right:1px solid #000;
    width:250px;

    a {
        color:#fff;
        text-decoration:none;
        .active-dot {
            display:none;
        }

        &:hover {
            color:#ccc;
        }

        &.active {
            .active-dot {
                display:inline-block;
                font-size:6px;
                position:relative;
                top:-2px;
            }
        }
    }

    .tag-list {
      height:285px;
      overflow-y:hidden;
    }

    ul {
      li {
        font-size:18px;
      }
    }

    h3 {
        text-transform:uppercase;
        font-size:14px;
        font-weight:600;
        margin:20px 0 20px 0;
        color:#6D7174;
    }

    .btn {
        text-transform:uppercase;
        font-size:12px;
        font-weight:600;
    }
}