.video-post {
    .video-info {
        padding-top:12px;
        padding-bottom: 12px;
        
        h2 {
            font-size:20px;
            margin:0 0 0 0;
            line-height: 30px;
        }

        .amount {
            font-size:20px;
            font-weight:600;
        }
    }

    .video-meta {

        margin-bottom: 20px;

        .author-card-wrapper {

            .avatar-holder {
                width:60px;
                img {
                    width:45px;
                    height:45px;
                    margin-top:3px;
                }
            }

            .data-holder {
                width:calc(100% - 60px);
                .btn {
                    padding:0 5px 0 5px;
                    font-size:11px;
                    text-transform:uppercase;
                    font-weight:500;
                    margin:0 0 0 0;
                }
            }

        }

        .meta {
            .votes {
                font-weight: 600;
                font-size: 13px;
                
            }
        }
    }

}

.related-videos {
    
    h3 {
        font-size:18px;
        margin:0 0 15px 0;
        line-height: 18px;
    }

    ul {
        li {
            a {
                color:#fff;
                text-decoration:none;
            }
            margin:0 0 0 0;
            h4 {
                font-size:14px;
                margin:20px 0 10px 0;
            }
        }
    }

    img {
        border-radius:6px;
    }
}