.video-post {
    .video-info {
        background-color: #272b2e;
        padding-top:15px;
        padding-bottom: 15px;
        margin:0 0 0 0;
        border-bottom:1px solid rgba(255, 255, 255, 0.1);
        
        h2 {
            font-size:20px;
            margin:0 0 0 0;
            line-height: 30px;
        }

        .amount {
            font-size:20px;
            font-weight:600;
        }
    }

    .video-meta {

        background-color: #272b2e;
        margin:0 0 0 0;
        padding-top:15px;
        padding-bottom: 15px;

        .author-card-wrapper {

            .avatar-holder {
                width:90px;
                img {
                    width:75px;
                    height:75px;
                    margin-top:3px;
                }
            }

            .data-holder {
                width:calc(100% - 90px);
                font-size:20px;
                .btn {
                    padding:2px 8px 2px 8px;
                    font-size:13px;
                    text-transform:uppercase;
                    font-weight:500;
                    margin:0 0 0 0;
                    letter-spacing:1px;
                }
            }

        }

        .meta {
            font-weight: 600;
            font-size: 24px;
        }
    }

}

.related-videos {
    
    h3 {
        font-size:18px;
        margin:0 0 15px 0;
        line-height: 18px;
    }

    ul {
        li {
            a {
                color:#fff;
                text-decoration:none;
            }
            margin:0 0 0 0;
            h4 {
                font-size:14px;
                margin:20px 0 10px 0;
            }
        }
    }

    img {
        border-radius:6px;
    }
}